@charset "UTF-8";
/* Variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif; }

body {
  background-color: #262322; }

#main {
  padding: 120px; }

/* Header y NAV General */
#header {
  padding: 5px; }

.abajo {
  background-color: #303030; }

.nav__link {
  padding: 16px;
  color: beige;
  text-decoration: none;
  font-size: 20px; }

.stay__link {
  font-size: 22px;
  color: #000000; }

.stay__link:hover {
  color: gray; }

.home__icon {
  font-size: 30px;
  color: beige; }

/* PRESENTACION */
.first__part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px; }
  .first__part .first__ph {
    color: beige;
    text-align: start;
    padding-left: 13px;
    font-size: 18px; }
  .first__part .first__p {
    color: beige;
    text-align: start;
    font-size: 35px; }
  .first__part .first__h1 {
    color: beige;
    text-align: start;
    font-size: 70px; }

.first__btn {
  background-color: beige;
  color: #0d0d26;
  border: 1px solid #262322;
  margin: 10px;
  padding: 5px;
  border-radius: 45px;
  width: 100px; }
  .first__btn a {
    text-decoration: none;
    color: #262322; }
  .first__btn:hover {
    background-color: grey; }
    .first__btn:hover a {
      color: beige; }

.first__ol {
  display: flex;
  flex-direction: row;
  padding: 15px;
  list-style: none; }
  .first__ol li {
    padding-right: 40px; }
    .first__ol li i {
      font-size: 40px; }
    .first__ol li a {
      color: beige; }

#github a:hover {
  color: #171515; }

#linkedin a:hover {
  color: #0e76a8; }

#twitter a:hover {
  color: #00acee; }

.nav__link:hover {
  color: gray; }

.sec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.img__index {
  margin: 50px;
  width: 100%; }

/* ABOUT */
.second__part {
  display: flex;
  flex-direction: column;
  padding: 120px; }
  .second__part .second__ph {
    color: beige; }
  .second__part .second__h1 {
    color: beige; }

.info {
  display: flex;
  align-items: center;
  margin: 60px;
  padding: 30px;
  height: 300px;
  width: 100%;
  background-color: #303030;
  border-radius: 12px;
  border: 1px solid #3c3c3c; }
  .info .p__info {
    font-size: 20px;
    text-align: center;
    color: #D9D9D9; }

/* SKILLS */
.trid__part {
  display: flex;
  flex-direction: row;
  padding: 120px; }

.skills__h1 {
  color: beige;
  text-align: start;
  padding-top: 150px; }

.skills {
  display: flex;
  flex-direction: row;
  margin: 60px;
  padding: 30px;
  height: 300px;
  width: 100%;
  background-color: #303030;
  border-radius: 12px;
  border: 1px solid #3c3c3c;
  align-items: flex-start;
  justify-content: center; }

.ol__skills {
  display: inline-flex;
  list-style: none;
  padding: 35px; }
  .ol__skills .li__list {
    padding: 20px;
    margin: 40px; }
  .ol__skills .img__skills {
    margin: 25px;
    width: 65px;
    height: 65px; }
  .ol__skills .p__skills {
    color: #fff;
    text-align: center; }

.npm__skills {
  margin: 25px;
  width: 75px;
  height: 65px; }

/* Proyectos */
.proyect__h1 {
  padding-top: 150px;
  color: beige;
  text-align: start; }

.proyect__h2 {
  padding: 50px;
  text-align: center;
  font-size: 20px;
  color: beige; }

.proyects {
  height: 100px;
  width: 100%;
  background-color: #303030; }

.btn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px; }
  .btn__container .btn__proyect {
    background-color: beige;
    border: #303030 solid 1px;
    border-radius: 5px;
    align-self: center;
    width: 180px;
    height: 30px; }
  .btn__container a {
    text-decoration: none;
    color: #303030; }
  .btn__container a:hover {
    color: gray; }

.card {
  margin: 15px;
  background-color: #262322;
  border: none;
  width: 100%;
  height: 100%; }

.contenedor {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .contenedor figure {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer; }
  .contenedor img {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out; }
  .contenedor figure .capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #303030;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center; }
  .contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible; }
  .contenedor figure:hover > .capa h3 {
    margin-top: 70px;
    margin-bottom: 15px; }
  .contenedor figure:hover > img {
    transform: scale(1.3); }
  .contenedor .card__p {
    color: beige;
    margin: 50px;
    padding-top: 40px;
    font-size: 18px; }

.btn__card button {
  margin: 10px; }

.card__page {
  background-color: #303030;
  border: 1px solid #D9D9D9;
  border-radius: 6px;
  width: 100px; }
  .card__page a {
    text-decoration: none;
    color: #fff; }
  .card__page:hover {
    transition: 0.9ms;
    background-color: #D9D9D9; }
  .card__page:hover a {
    color: #333; }

.card__github {
  width: 100px;
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
  border-radius: 6px; }
  .card__github a {
    text-decoration: none;
    color: black; }
  .card__github:hover {
    transition: 0.9ms;
    background-color: #303030; }
  .card__github:hover a {
    color: #D9D9D9; }

/* CONTACTO */
.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 120px;
  width: 100%;
  height: 400px; }

.form {
  width: 100%;
  height: 60px;
  max-width: 400px;
  position: relative;
  overflow: hidden; }

.form input {
  width: 100%;
  height: 100%;
  background: none;
  color: #fff;
  padding-top: 20px;
  border: none;
  outline: 0px; }

.form .lbl-name {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid #c7c7c7; }

.form .lbl-name::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #2ecece;
  transform: translateX(100%);
  transition: all 0.3 ease; }

.text-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
  color: #fff; }

.form input:focus + .lbl-name .text-name, .form input:valid + .lbl-name .text-name {
  transform: translateY(-150%);
  font-size: 14px;
  color: #2ecece; }

.form input:focus + .lbl-name::after
.form input:valid + .lbl-name::after {
  transform: translateX(0%); }

.contact__enviar {
  background-color: #c7c7c7; }

.form__btn {
  text-align: center;
  width: 140px;
  margin: 15px 0 auto;
  background-color: #262322;
  border: #303030 solid 2px;
  border-radius: 5px; }
  .form__btn a {
    text-decoration: none;
    color: beige; }
  .form__btn a:hover {
    color: gray; }

.contact__h1 {
  color: beige;
  text-align: start;
  padding: 120px; }

/* FOOTER */
.footer__nav {
  width: 100%; }
  .footer__nav .footer__ol {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center; }
  .footer__nav li {
    padding: 20px; }
    .footer__nav li a {
      text-decoration: none;
      color: #8d8d8d; }
    .footer__nav li i {
      font-size: 37px; }

.author {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .author span {
    padding-left: 30px;
    text-align: center;
    color: beige; }

#ig:hover {
  color: #e1306c; }

#lin:hover {
  color: #0072b1; }

#gmail:hover {
  color: #c71610; }

.hidden {
  opacity: 0; }

.console-container {
  font-family: Khula;
  font-size: 48px;
  text-align: center;
  height: 200px;
  width: 600px;
  display: block;
  position: absolute;
  color: white;
  top: 300px;
  bottom: 600px;
  left: 0;
  right: 2100px;
  margin: auto; }

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px; }

/* Smartphones (portrait & landscape) */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Animacion */
  .hidden {
    opacity: 0; }
  .console-container {
    font-size: 30px;
    text-align: center;
    height: 200px;
    width: 100%;
    display: block;
    position: absolute;
    color: white;
    top: 230px;
    bottom: 685px;
    left: 0;
    right: 0; }
  .console-underscore {
    display: inline-block;
    position: relative;
    top: -0.14em;
    left: 10px; }
  /* PRESENTACION */
  .first__part {
    justify-content: center;
    width: 100%;
    padding: 90px 0 0 15px; }
    .first__part .first__h1 {
      text-align: center;
      padding-top: 17px;
      font-size: 30px; }
    .first__part .first__p {
      font-size: 20px; }
    .first__part .first__btn {
      width: 90px;
      padding: 2px;
      margin: 2px; }
    .first__part .first__ol {
      padding: 13px; }
      .first__part .first__ol i {
        font-size: 25px; }
  .sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .img__index {
    padding: 20px;
    margin: 0 auto;
    width: 100%; }
  /* ABOUT ME */
  .second__part {
    display: flex;
    flex-direction: column;
    padding: 70px; }
    .second__part .second__ph {
      margin: 0 auto; }
    .second__part .second__h1 {
      margin: 0 auto;
      padding: 15px; }
  .info {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    overflow-x: scroll;
    height: 100%;
    width: 100%; }
    .info .p__info {
      font-size: 18px;
      text-align: start; }
  /* SKILLS */
  .trid__part {
    display: flex;
    flex-direction: row;
    padding: 120px; }
  .skills__h1 {
    color: beige;
    text-align: center;
    padding-top: 150px; }
  .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 30px;
    height: 100%;
    width: 100%;
    background-color: #303030;
    align-items: flex-start;
    justify-content: center; }
  .ol__skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 35px; }
    .ol__skills .li__list {
      padding: 15px;
      margin: 0 auto; }
    .ol__skills .img__skills {
      margin: 25px;
      width: 65px;
      height: 65px; }
  .npm__skills {
    margin: 25px;
    width: 75px;
    height: 65px; }
  body {
    width: 100vw;
    overflow-x: scroll; } }

/* Proyect */
.proyect__h1 {
  text-align: center; }

.card__p {
  margin: 15px;
  padding-top: 15px;
  font-size: 15px; }

.contenedor {
  margin: 0 auto;
  width: 100%; }

.card {
  margin: 0 auto;
  height: 100%;
  width: 300px; }

/* Contact */
.contact__h1 {
  text-align: center; }

.contact__container {
  width: 75%;
  padding-left: 30px; }

.author span {
  margin: 0 auto; }

/* Ordenadores de sobremesa y portátiles */
