.first__part{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 120px;
    & .first__ph{
        color: $color-main;
        text-align: start;
        padding-left: 13px;
        font-size: 18px;
    }
    & .first__p{
        color: $color-main;
        text-align: start;
        font-size: 35px;
    }
    & .first__h1{
        color: $color-main;
        text-align: start;
        font-size: 70px;
    }
}

.first__btn{
    background-color: $color-main;
    color: hsl(240, 50%, 10%);
    border: 1px solid $color-second;
    margin: 10px;
    padding: 5px;
    border-radius: 45px; 
    width: 100px;

 }


.first__ol{
    display: flex;
    flex-direction: row;
    padding: 15px;
    list-style: none;
    & li {
        padding-right: 40px;
    & i {
        font-size: 40px;
    } 
    & a{
        color: beige;
    }
    }
 }


#github a:hover{
    color: #171515;
}

#linkedin a:hover {
    color: #0e76a8; 
  }

#twitter a:hover {
    color: #00acee
}

.nav__link:hover{
    color: gray;
}
