/* Smartphones (portrait & landscape) */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /* Animacion */

    .hidden {
        opacity:0;
      }
      .console-container {  
        font-size: 30px;
        text-align:start;
        height:200px;
        width:600px;
        display:block;
        position:absolute;
        color:white;
        top: 230px;
        bottom: 685px;
        left: 11px;
        right: 0;
      }
      .console-underscore {
         display:inline-block;
        position:relative;
        top:-0.14em;
        left:10px;
      }
    
    /* PRESENTACION */
    .first__part{
        justify-content: flex-start;
        padding: 90px 0 0 15px;
        & .first__h1{
            padding-top: 17px;
            font-size: 30px;
        }
        & .first__p{
            font-size: 20px;
        }
        & .first__btn{
            width: 90px;
            padding: 2px;
            margin: 2px;
        }
        & .first__ol{
            padding: 13px;
            & i {
                font-size: 25px;
            }
        }
    }

    /* ABOUT ME */
   
    .second__part{
        display: flex;
        flex-direction: column;
        padding: 70px;
        & .second__ph{
            margin: 0 auto;      
        }
        & .second__h1{
            margin: 0 auto;
            padding: 15px;
        }
    }

    .info{
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 30px;
        overflow-x: scroll;
        height: 100%;
        width: 100%;
        & .p__info{
            font-size: 18px;
            text-align: start;
        
            }
        }
}

/* Smartphones (landscape) */
@media only screen 
and (min-width : 321px) {

}

/* Smartphones (portrait) */
@media only screen 
and (max-width : 320px) {

}

/* iPads (portrait & landscape) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

}

/* iPads (landscape) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* iPads (portrait) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

}

/* Ordenadores de sobremesa y portátiles */
@media only screen 
and (min-width : 1224px) {

}

/* Pantallas grandes */
@media only screen 
and (min-width : 1824px) {

}

/* iPhone 4 */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

}