/* Smartphones (portrait & landscape) */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    /* Animacion */

    .hidden {
        opacity:0;
      }
      .console-container {  
        font-size: 30px;
        text-align:start;
        height:200px;
        width: 100%;
        display:block;
        position:absolute;
        color:white;
        top: 230px;
        bottom: 685px;
        padding-left: 12px;
        left: 0;
        right: 0;
      }
      .console-underscore {
         display:inline-block;
        position:relative;
        top:-0.14em;
        left:10px;
      }
    
    /* PRESENTACION */
    .first__part{
        justify-content: flex-start;
        width: 100%;
        padding: 90px 0 0 15px;
        & .first__h1{
            padding-top: 17px;
            font-size: 30px;
        }
        & .first__p{
            font-size: 20px;
        }
        & .first__btn{
            width: 90px;
            padding: 2px;
            margin: 2px;
        }
        & .first__ol{
            padding: 13px;
            & i {
                font-size: 25px;
            }
        }
    }

    /* ABOUT ME */
   
    .second__part{
        display: flex;
        flex-direction: column;
        padding: 70px;
        & .second__ph{
            margin: 0 auto;      
        }
        & .second__h1{
            margin: 0 auto;
            padding: 15px;
        }
    }

    .info{
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 30px;
        overflow-x: scroll;
        height: 100%;
        width: 100%;
        & .p__info{
            font-size: 18px;
            text-align: start;
            }
        }
    
    /* SKILLS */

   
    .trid__part{
        display: flex;
        flex-direction: row;
        padding: 120px;
    }

    .skills__h1{
        color: $color-main;
        text-align: center;
        padding-top: 150px;
    }

    .skills{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 30px;
        height: 100%;
        width: 100%;
        background-color: #303030;
        align-items: flex-start;
        justify-content: center;
    }

    .ol__skills{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        list-style: none;
        padding: 35px;
        & .li__list{
            padding: 15px;
            margin: 0 auto;
        }
        & .img__skills{
            margin: 25px;
            width: 65px;
            height: 65px;
        }
    }

    .npm__skills{
        margin: 25px;
        width: 75px;
        height: 65px;
}

    body{
        width: 100vw;
        overflow-x: scroll;
}

    /* Proyect */

    .proyect__h1{
         text-align: center;
    }

    .author span {
        margin: 0 auto ;
    }

}


/* Ordenadores de sobremesa y portátiles */
@media only screen 
and (min-width : 1224px) {
}

